# Virtual environments
bank/
venv/
.venv/
env/
ENV/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Static collection build
staticfiles/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
